# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>
[Desktop Entry]
Name=Package Compatibility Helper
Comment=Provides support for running or finding alternatives to certain package types on ublue-based distributions.
Version=1.0
Exec=package-compatibility-helper %f
Icon=apper
Type=Application
Terminal=false
NoDisplay=true
MimeType=application/x-ms-dos-executable;application/x-dosexec;application/x-msi;application/x-ms-shortcut;application/vnd.microsoft.portable-executable;application/x-msdownload;application/x-ms-ne-executable;application/x-bat;application/x-msdos-batch;application/x-rpm;application/vnd.debian.binary-package;application/java-archive;
